/* fraunces-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fraunces-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v31-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.container {
  max-width: 1328px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (max-width: 768px) {
  .container {
    padding-left: 39px;
    padding-right: 41px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  border: none;
  white-space: nowrap;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Barlow";
  margin: 0;
}

.header {
  padding-top: 10px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header_logo {
  max-width: 175px;
  transition: all 0.9s linear;
}

.header_logo:hover {
  max-width: 170px;
}

.nav_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 172px;
}

.header__title {
  display: none;
  white-space: nowrap;
  color: rgb(72, 72, 135);
  font-size: 15px;
}

.nav_item {
  display: none;
  align-items: center;
  gap: 30px;
}

.nav__link {
  color: gray;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  transition: 0.1s ease;
}

.nav__link:hover {
  color: rgb(61, 61, 131);
}

.header_button {
  background-image: url(../img/header_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 15px;
  background-color: transparent;
}

@media screen and (min-width: 686px) {
  .nav_item {
    display: flex;
  }
  .header_button {
    display: none;
  }
  .nav__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  .header_logo {
    max-width: 245px;
  }
  .header_container {
    gap: 80px;
  }
}
@media screen and (min-width: 1039px) {
  .header__title {
    display: inline-block;
  }
  .header__title {
    font-size: 25px;
  }
}
.hero {
  padding-top: 64px;
  padding-left: 24px;
  padding-right: 24px;
}

.hero_container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(170, 165, 165);
  border-radius: 10px;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
}

.hero__name {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 24px;
  color: rgb(72, 72, 135);
}

.hero__info {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 32px;
  opacity: 0.8;
}

.hero__btn {
  background-color: rgb(41, 126, 98);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.hero__btn:hover {
  background-color: rgb(15, 242, 242);
}

@media screen and (min-width: 686px) {
  .hero_container {
    text-align: left;
    padding-left: 58px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .hero__name {
    font-size: 30px;
    font-weight: 900;
    line-height: 15px;
    margin-bottom: 26px;
    max-width: 243px;
    margin-bottom: 32px;
  }
  .hero__info {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    max-width: 466px;
    margin-bottom: 45px;
  }
  .hero__btn {
    padding: 20px 30px;
  }
}
@media screen and (min-width: 1039px) {
  .hero__name {
    font-size: 40px;
    font-weight: 900;
    line-height: 15px;
    margin-bottom: 40px;
    max-width: 375px;
  }
  .hero__info {
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 64px;
    max-width: 648px;
  }
  .hero__btn {
    padding: 25px 40px;
    background-color: rgb(85, 182, 150);
  }
  .hero_container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.about {
  padding-top: 64px;
}

.about_block {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url(../img/benefits_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  border-radius: 10px;
  text-align: center;
}

.about__title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 32px;
}

.item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.items {
  background-color: rgb(39, 111, 111);
  background-size: cover;
  border-radius: 10px;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.item_1::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/coffee_bean.svg);
  width: 72px;
  height: 72px;
  margin-bottom: 32px;
}

.item_2::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/coffee_gifts.svg);
  width: 72px;
  height: 72px;
  margin-bottom: 32px;
}

.item_3::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/coffee_truck.svg);
  width: 72px;
  height: 72px;
  margin-bottom: 32px;
}

.item__name {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 24px;
}

.item__info {
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 765px) {
  .items {
    max-width: 573px;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: bottom;
    gap: 30px;
  }
  .item__info {
    max-width: 375px;
  }
  .about__title {
    margin-left: auto;
    margin-right: auto;
  }
  .item__name {
    font-size: 20px;
    font-weight: 700;
  }
  .item__info {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}
@media screen and (min-width: 992px) {
  .item {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .items {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .about__title {
    font-size: 30px;
  }
}
.work {
  padding-top: 120px;
}

.work_container {
  text-align: center;
  align-items: center;
}

.work__title {
  color: gray;
  font-size: 35px;
  font-weight: 700;
  line-height: 25px;
  transition: all 0.4s ease;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}

.work__title:hover {
  color: rgb(72, 72, 135);
}

.work_item {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.line_items {
  display: none;
  position: relative;
  height: 2px;
  max-width: 467px;
  background-color: #FDD6BA;
  margin-bottom: 48px;
  align-items: center;
  justify-content: space-between;
}

.line_item {
  width: 31px;
  height: 31px;
  background-color: #fff;
  border-radius: 26px;
  border: 2px solid #0E8784;
}

.work_list {
  text-align: center;
}

.info__title {
  color: #333D4B;
  font-size: 28px;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 24px;
  white-space: nowrap;
}

.info__text {
  color: #333D4B;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.work_list::before {
  content: "";
  display: inline-block;
  background-image: url(../img/work_1.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 72px;
  margin-bottom: 24px;
}

.work_list:nth-child(2)::before {
  content: "";
  display: inline-block;
  background-image: url(../img/work_2.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 72px;
}

.work_list:nth-child(3)::before {
  content: "";
  display: inline-block;
  background-image: url(../img/work_3.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 72px;
}

.work_list {
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 765px) {
  .work__title {
    text-align: left;
  }
  .line_items {
    display: flex;
  }
  .work_item {
    display: flex;
    align-items: start;
    gap: 10px;
  }
}
.call {
  padding-top: 120px;
}

.call_container {
  text-align: center;
}

.call__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 25px;
  color: gray;
  transition: all 0.4s ease;
  margin-bottom: 64px;
}

.call__title:hover {
  color: rgb(72, 72, 135);
}

.call_item__name {
  color: rgb(221, 0, 0);
}/*# sourceMappingURL=main.css.map */